.items {
	display: flex;
	flex-wrap: wrap;
}

.items > div {
	width: 100px;
	margin-left: 5px;
	margin-right: 5px;
}

.items > div > img {
	width: 100%;
}

body {
	color: #ecdbc9;
	background: #090b17;
}

