:root {
	--light-text: #ecdbc9;
	--dark-text: #0a111b;
	--background: #080c1d;
}

.items {
	display: flex;
	flex-wrap: wrap;
	overflow-y: scroll;
}

.item-img {
	position: absolute;
	width: 80%;
	height: 80%;
	object-fit: contain;
}

.item-img.is-gun {
  transform: rotate(35deg);
	width: 113%;
	height: 113%;
}

.item-rarity-overlay {
	width: 100%;
}

.item-level-overlay {
	position: absolute;
	bottom: 0;
}

.item-img-stack {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100px;
	height: 100px;
}

.item-card {
	margin: 5px;
	border-radius: 5px;
	overflow: hidden;
}

.item-extradata {
	background: #fbefdf;
	color: var(--dark-text);
	padding-left: 5px;
	padding-right: 5px;
}

.unselected-items-pane {
	width: 450px;
	min-width: 450px;
	height: 100vh;
}

.selected-items-pane {
	flex-grow: 1;
	flex-shrink: 1;
	overflow: scroll;
	min-height: 200px;
}

.items-pane {
	display: flex;
	flex-direction: column;
}

.item-image {
	background: url("not-found.png");
}

body {
	color: var(--light-text);
	background: var(--background);
	display: flex;
	margin: 0;
	padding: 0;
	gap: 20px;
}

.item-quantity-overlay {
	position: absolute;
	left: 10px;
	top: 5px;
	background: #00000088;
}

.component-item {
	display: flex;
}

.component-items-pane {
	flex-grow: 1;
	flex-shrink: 1;
	overflow: scroll;
	min-height: 200px;
}

.component-preview {
	position: relative;
}

.right-pane {
	display: flex;
	flex-direction: column;
	max-height: 100vh;

}
